<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>OpenResume</title>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand" href="#page-top">
                <span class="d-block d-lg-none">OpenResume</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/business.png') }}" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item mb-5"><a class="nav-link" href="#references">References</a></li>
                    <li class="nav-item mt-5"><a class="nav-link" href="{{url_for('logout')}}"> <img class="mr-2" src="{{ url_for('static', filename='images/logout.png') }}"/> LOGOUT</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="ml-5">
                        <span class="text-primary mb-1">{{ business.name }}</span>
                    </h1>
                    <div class="subheading">
                        <h3 class="mt-0 mb-3 ml-5"><img class="img-sub" src="{{ url_for('static', filename='images/vat.png') }}"/> {{ business.id }}</h3>
                        <h3 class="ml-5"><img class="img-sub" src="{{ url_for('static', filename='images/field.png') }}"/> {{ business.field }} </h3>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- References-->
            <section class="resume-section" id="references">
                <div class="resume-section-content ml-3">
                    <h2 class="mb-5" style="text-decoration: underline;">References</h2>
                    {% for id in references %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5 mt-2">
                        <div class="flex-grow-1">
                            <div class="row mb-0">
                                <h3 class="col"> {{ references[id].user_name }} {{ references[id].user_surname }}</h3>
                                {% if references[id].revised %}
                                <div></div>
                                {% else %}
                                <p><a href="{{url_for('disconfirm_reference', reference_id=id)}}"><img class="img-sub" src="{{ url_for('static', filename='images/cross.png') }}"/></a></p>
                                <p><a data-toggle="modal" data-target="#confirmExperience"><img class="img-sub" src="{{ url_for('static', filename='images/check.png') }}"/></a></p>
                                {% endif %}
                            </div>
                            <div class="subheading mt-0">{{ references[id].title }}</div>
                            {% if references[id].current %}
                            <span class="text-primary mb-5">CURRENT ({{ references[id].period }}) </span>
                            {% else %}
                            <span class="text-primary mb-5">{{ references[id].period }}</span>
                            {% endif %}
                            <p class="mt-4">{{ references[id].description }}</p>
                            {% if references[id].revised %}
                                {% if references[id].confirmed %}
                                <div class="subtitle"> Notes: </div>
                                <p>{{ references[id].notes }}</p>
                                <div class="subtitle"> (APPROVED) </div>
                                {% else %}
                                <div class="subtitle"> (NOT APPROVED) </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <hr/>

                    <!--- MODAL ADD NOTES -->
                    <div class="modal fade" id="confirmExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">ADD NOTES AND CONFIRM</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form class="justify-content-center" action="/confirm-reference/" method="post">

                                        <div>
                                            <input type="text" name="id" style="display:none;" value={{id}}>
                                        </div>

                                        <h5 class="mb-2">Notes</h5>

                                        <div class="input-group mb-3">
                                             <textarea name="notes" rows="6" cols="30" style="width:100%"></textarea>
                                        </div>

                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn btn-success">Confirm</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
</html>
