<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>OpenResume</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        {{ JSGlue.include() }}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand" href="#page-top">
                <span class="d-block d-lg-none">OpenResume</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/login.png') }}" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#register">Register</a></li>
                </ul>
            </div>
        </nav>

        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- LOGIN-->
            <section class="resume-section" id="login">
                <div class="resume-section-content">
                    <h1 class="ml-5"> LOGIN AS </h1>

                    <div id="errorlogin" class="container" style="display:none;">
                        <div class="row col-sm-12 displaystyle-leftborder displaystyle-danger displaystyle-lg">
                            <strong>Error:&ensp;</strong> <p id="errorlogintext"></p>
                        </div>
                    </div>

                    <div class="subheading container">
                        <div class="btn-group row d-flex justify-content-center" role="group">
                            <div class="col-md text-center">
                                <button type="button" class="btn ml-4" onclick="userLogin()"><img class="img-fluid rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/user.png') }}" alt="" />
                                    <h3> USER </h3>
                                </button>
                            </div>
                            <div class="col-md text-center">
                                <button type="button" class="btn" onclick="businessLogin()"><img class="img-fluid rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/business.png') }}" alt="" />
                                    <h3> BUSINESS </h3>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />

            <!-- REGISTER-->
            <section class="resume-section" id="register">
                <div class="resume-section-content">
                    <h1 class="ml-5"> REGISTER AS </h1>

                    <div class="subheading container">
                        <div class="btn-group row d-flex justify-content-center" role="group">
                            <div class="col-md text-center">
                                <button type="button" class="btn ml-4" onclick="userRegister()" data-toggle="modal" data-target="#userRegisterModal"><img class="img-fluid rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/user.png') }}" alt="" />
                                    <h3> USER </h3>
                                </button>
                            </div>
                            <div class="col-md text-center">
                                <button type="button" class="btn" onclick="businessRegister()" data-toggle="modal" data-target="#businessRegisterModal"><img class="img-fluid rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/business.png') }}" alt="" />
                                    <h3> BUSINESS </h3>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
        </div>

        <!--- MODAL USER REGISTER -->
        <div class="modal fade" id="userRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">REGISTER AS USER</h3>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="usererrorregister" class="container" style="display:none;">
                            <div class="mb-5 displaystyle-leftborder displaystyle-danger">
                                <strong>Error:&ensp;</strong> <p> Account already registered.</p>
                            </div>
                        </div>

                        <form class="justify-content-center" action="/register-user/" method="post">

                            <h5 class="mb-1">Ethereum address</h5>
                            <div class="input-group mb-0">
                                <input id="user-eth" type="text" class="form-control" aria-describedby="basic-addon3" readonly required name="address">
                            </div>
                            <p class="mt-0 mb-3"> <small>If empty, please login to MetaMask and try again.</small></p>


                            <h5 class="mb-1">ID (Fiscal Code) </h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="id">
                            </div>

                            <h5 class="mb-1">Name</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="name">
                            </div>

                            <h5 class="mb-1">Surname</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="surname">
                            </div>

                            <h5 class="mb-1">Birthdate</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="birthdate">
                            </div>

                            <h5 class="mb-1">Phone</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="phone">
                            </div>

                            <h5 class="mb-1">Email</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="email">
                            </div>

                            <h5 class="mb-1">Residency</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="residency">
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button id="userregisterbutton" type="submit" class="btn btn-success">Register</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>

        <!--- MODAL BUSINESS REGISTER -->
        <div class="modal fade" id="businessRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">REGISTER AS BUSINESS</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="businesserrorregister" class="container" style="display:none;">
                            <div class="mb-5 displaystyle-leftborder displaystyle-danger">
                                <strong>Error:&ensp;</strong> <p> Account already registered.</p>
                            </div>
                        </div>

                        <form class="justify-content-center" action="/register-business/" method="post">

                            <h5 class="mb-1">Ethereum address</h5>
                            <div class="input-group mb-0">
                                <input id="business-eth" type="text" class="form-control" aria-describedby="basic-addon3" readonly required name="address">
                            </div>
                            <p class="mt-0 mb-3"> <small>If empty, please login to MetaMask and try again.</small></p>

                            <h5 class="mb-1">ID (Vat Number)</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="id">
                            </div>

                            <h5 class="mb-1">Company Name</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="name">
                            </div>

                            <h5 class="mb-1">Working field</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="field">
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button id="businessregisterbutton" type="submit" class="btn btn-success">Register</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

    </body>
</html>
