<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>OpenResume</title>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand" href="#page-top">
                <span class="d-block d-lg-none">OpenResume</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/portfolio.png') }}" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
                    <li class="nav-item mb-5"><a class="nav-link" href="#education">Education</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="ml-5">
                        {{user.name}}
                        <span class="text-primary">{{user.surname}}</span>
                        <div class="subtitle"> {{user.cf}} </div>
                    </h1>
                    <div class="subheading">
                        <ul>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/residency.png') }}"/> {{user.residency}} </li>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/birthdate.png') }}"/> {{user.birthdate}}</li>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/phone.png') }}"/> {{user.phone}}</li>
                            <li> <img class="img-sub" src="{{ url_for('static', filename='images/mail.png') }}"/> {{user.email}} </li>
                        </ul>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content ml-3">
                    <h2 class="mb-3"  style="text-decoration: underline;">Experience</h2>

                    {% for id in references %}
                    {% if not references[id].educational %}
                    {% if references[id].confirmed %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ references[id].title }}</h3>
                            {% if references[id].current %}
                                <span class="text-primary">CURRENT ({{ references[id].period }}) </span>
                            {% else %}
                                <span class="text-primary">{{ references[id].period }}</span>
                            {% endif %}
                            <div class="subheading mt-4 mb-3">{{ references[id].company_name }}</div>
                            <p>{{ references[id].description }}</p>
                            {% if references[id].show_notes %}
                                <div class="subtitle"> Notes from the company: </div>
                                <p>{{ references[id].notes }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />

            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content ml-3">
                    <h2 class="mb-3">Education</h2>

                    {% for id in references %}
                    {% if references[id].educational %}
                    {% if references[id].confirmed %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ references[id].title }}</h3>
                            <div class="subheading mt-0">{{ references[id].company_name }}</div>
                            {% if references[id].current %}
                                <span class="text-primary">CURRENT ({{references[id].period}}) </span>
                            {% else %}
                                <span class="text-primary">{{references[id].period}}</span>
                            {% endif %}
                            <div class="mt-4">{{ references[id].description }}</div>
                            {% if references[id].show_notes %}
                                <div class="subtitle"> Notes: </div>
                                <p>{{references[id].notes}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>
                    {% endif %}
                    {% endif %}
                    {% endfor %}

                    </div>
                </div>
            </section>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </body>
</html>
