<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>OpenResume</title>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand" href="#page-top">
                <span class="d-block d-lg-none">OpenResume</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ url_for('static', filename='images/portfolio.png') }}" alt="" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
                    <li class="nav-item mb-5"><a class="nav-link" href="#education">Education</a></li>
                    <li class="nav-item mt-5"><a class="nav-link" href="{{url_for('logout')}}"> <img class="mr-2" src="{{ url_for('static', filename='images/logout.png') }}"/> LOGOUT</a></li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <div class="row">
                        <h1 class="ml-5 mr-5">
                            {{user.name}}
                            <span class="text-primary">{{user.surname}}</span>
                            <div class="subtitle"> {{user.cf}} </div>
                        </h1>
                        <p><a href="#" onclick="getLink()" data-toggle="modal" data-target="#shareLink"><img class="img-sub mt-3" style="margin-left:70px;" src="{{ url_for('static', filename='images/link.png') }}"/></a></p>
                    </div>

                    <div class="subheading">
                        <ul>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/residency.png') }}"/> {{user.residency}} </li>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/birthdate.png') }}"/> {{user.birthdate}}</li>
                            <li class="mb-3"> <img class="img-sub" src="{{ url_for('static', filename='images/phone.png') }}"/> {{user.phone}}</li>
                            <li> <img class="img-sub" src="{{ url_for('static', filename='images/mail.png') }}"/> {{user.email}} </li>
                        </ul>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content ml-3">
                    <h2 class="mb-3"  style="text-decoration: underline;">Experience</h2>
                    <div class="mb-5"><img src="{{ url_for('static', filename='images/add.png') }}"/><button type="button" class="btn btn-add" data-toggle="modal" data-target="#addExperience"> ADD NEW </button></div>

                    {% for id in references %}
                    {% if not references[id].educational %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ references[id].title }}</h3>
                            {% if references[id].current %}
                            <span class="text-primary">CURRENT ({{references[id].period}}) </span>
                            <div></div>
                            <button type="button" class="btn btn-success mr-3 mt-2 btn-sm" name="button" data-toggle="modal" data-target="#updatePeriodEsp">UPDATE PERIOD</button>
                            {% else %}
                            <span class="text-primary">{{references[id].period}}</span>
                            {% endif %}
                            <div class="subheading mt-4 mb-3">{{ references[id].company_name }}</div>
                            <p>{{ references[id].description }}</p>
                            <div class="row">
                                {% if references[id].show_notes %}
                                <form action="{{ url_for('change_notes_visibility', reference_id=id) }}" method=post>
                                    <button type="submit" class="btn btn-secondary mr-3 ml-2 btn-sm" name="button">HIDE</button>
                                </form>
                                {% else %}
                                <form action="{{ url_for('change_notes_visibility', reference_id=id) }}" method=post>
                                    <button type="submit" class="btn btn-secondary mr-3 ml-2 btn-sm" name="button">SHOW</button>
                                </form>
                                {% endif %}
                                <div class="subtitle"> Notes from the company: </div>
                            </div>
                            <p>{{ references[id].notes }}</p>
                            {% if references[id].revised %}
                                {% if references[id].confirmed %}
                                <p class="mt-5">[ APPROVED ]</p>
                                {% else %}
                                <p class="mt-5">[ NOT APPROVED ]</p>
                                {% endif %}
                            {% else %}
                                <p class="mt-5">[ WAITING FOR REVIEW ]</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>

                    <!--- MODAL UPDATE PERIOD -->
                    <div class="modal fade" id="updatePeriodEsp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">UPDATE PERIOD</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form class="justify-content-center" action="/update-period/" method="post">

                                        <div>
                                            <input type="text" name="id" style="display:none;" value={{id}}>
                                        </div>

                                        <h5 class="mb-2">Period</h5>

                                        <div class="input-group mb-3">
                                             <textarea name="period" rows="2" cols="30" style="width:100%"></textarea>
                                        </div>

                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn btn-success">Confirm</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </section>
            <hr class="m-0" />

            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content ml-3">
                    <h2 class="mb-3" style="text-decoration: underline;">Education</h2>
                    <div class="mb-5"><img src="{{ url_for('static', filename='images/add.png') }}"/><button type="button" class="btn btn-add" data-toggle="modal" data-target="#addEducation"> ADD NEW </button></div>

                    {% for id in references %}
                    {% if references[id].educational %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ references[id].title }}</h3>
                            <div class="subheading mt-0">{{ references[id].company_name }}</div>
                            {% if references[id].current %}
                            <span class="text-primary">CURRENT ({{references[id].period}}) </span>
                            <div></div>
                            <button type="button" class="btn btn-success mt-2 mr-3 btn-sm" name="button" data-toggle="modal" data-target="#updatePeriodEd">UPDATE PERIOD</button>
                            {% else %}
                            <span class="text-primary">{{references[id].period}}</span>
                            {% endif %}
                            <div class="mt-4">{{ references[id].description }}</div>
                            <div class="row mt-3">
                                {% if references[id].show_notes %}
                                <form action="{{ url_for('change_notes_visibility', reference_id=id) }}" method=post>
                                    <button type="submit" class="btn btn-secondary mr-3 ml-2 btn-sm" name="button">HIDE</button>
                                </form>
                                {% else %}
                                <form action="{{ url_for('change_notes_visibility', reference_id=id) }}" method=post>
                                    <button type="submit" class="btn btn-secondary mr-3 ml-2 btn-sm" name="button">SHOW</button>
                                </form>
                                {% endif %}
                                <div class="subtitle"> Notes: </div>
                            </div>
                            <p>{{references[id].notes}}</p>
                            {% if references[id].revised %}
                                {% if references[id].confirmed %}
                                <p class="mt-5">[ APPROVED ]</p>
                                {% else %}
                                <p class="mt-5">[ NOT APPROVED ]</p>
                                {% endif %}
                            {% else %}
                                <p class="mt-5">[ WAITING FOR REVIEW ]</p>
                            {% endif %}
                        </div>
                    </div>
                    <hr/>

                    <!--- MODAL UPDATE PERIOD -->
                    <div class="modal fade" id="updatePeriodEd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title">UPDATE PERIOD</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <form class="justify-content-center" action="/update-period/" method="post">

                                        <div>
                                            <input type="text" name="id" style="display:none;" value={{id}}>
                                        </div>

                                        <h5 class="mb-2">Period</h5>

                                        <div class="input-group mb-3">
                                             <textarea name="period" rows="2" cols="30" style="width:100%"></textarea>
                                        </div>

                                        <div class="modal-footer justify-content-center">
                                            <button type="submit" class="btn btn-success">Confirm</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    </div>
                </div>
            </section>
        </div>

        <!--- MODAL ADD EXPERIENCE -->
        <div class="modal fade" id="addExperience" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">ADD A NEW EXPERIENCE</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form class="justify-content-center" action="/add-experience/" method="post">

                            <h5 class="mb-1">Company address</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="company_address">
                            </div>

                            <h5 class="mb-1">Title</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="title">
                            </div>

                            <h5 class="mb-1">Period</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="period">
                            </div>

                            <h5 class="mb-1">Description</h5>
                            <div class="input-group mb-4">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="description">
                            </div>

                            <div class="row ml-1 mb-4">
                                <h5 class="mr-3">Current</h5>
                                <input type="checkbox" style="width: 30px; height: 30px;" name="current">
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success">Confirm</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--- MODAL ADD EDUCATION -->
        <div class="modal fade" id="addEducation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">ADD A NEW CERTIFICATE</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form class="justify-content-center" action="/add-education/" method="post">

                            <h5 class="mb-1">Institution address</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="company_address">
                            </div>

                            <h5 class="mb-1">Title</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="title">
                            </div>

                            <h5 class="mb-1">Period</h5>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="period">
                            </div>

                            <h5 class="mb-1">Description</h5>
                            <div class="input-group mb-4">
                                <input type="text" class="form-control" aria-describedby="basic-addon3" required name="description">
                            </div>

                            <div class="row ml-1 mb-4">
                                <h5 class="mr-3">Current</h5>
                                <input type="checkbox" style="width: 30px; height: 30px;" name="current">
                            </div>

                            <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-success">Confirm</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--- MODAL SHARE LINK -->
        <div class="modal fade" id="shareLink" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">SHARE!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row justify-content-center">
                            <input id="link" type="text" aria-describedby="basic-addon3" readonly style="width:80%;">
                            <button onclick="copyLink()" class="btn btn-success ml-2">Copy</button>
                        </div>
                        <p id="copied" class="ml-5"></p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    </body>
</html>
